In [17]:
import pandas as pd

In [96]:
awards = pd.read_csv('../data/wikidata_awards.csv')
awards

,award_id,award_name,award_type,award_category
0,0,MOJO Awards,MOJO Awards,NaN
1,1,Grammy Award for Best Rock Performance by a Du...,Grammy Award,Best Rock Performance by a Duo or Group with V...
2,2,MTV Europe Music Award for Best Album,MTV Europe Music Award,Best Album
3,3,Grammy Award for Best Rock Album,Grammy Award,Best Rock Album
4,4,Grammy Award for Best Dance/Electronic Album,Grammy Award,Best Dance/Electronic Album
...,...,...,...,...
188,188,Latin Grammy Award for Best Recording Package,Latin Grammy Award,Best Recording Package
189,189,First prize of the Eurovision Song Contest,First prize of the Eurovision Song Contest,NaN
190,190,MTV Europe Music Award for Best Korean Act,MTV Europe Music Award,Best Korean Act
191,191,P3 Gull for Artist of the Year,P3 Gull,Artist of the Year
192,192,Premios Musa,Premios Musa,NaN

In [19]:
statements = pd.read_csv('../data/wikidata_award_statements.csv')
statements

           artist_spotify_id  award_id award_year
0     0L8ExT028jH3ddEcZwqJJ5         0          _
1     0L8ExT028jH3ddEcZwqJJ5         1       2006
2     0L8ExT028jH3ddEcZwqJJ5         2       2006
3     0L8ExT028jH3ddEcZwqJJ5         3       2006
4     4tZwfgrHOc3mvqYlEYSvVi         4       2008
...                      ...       ...        ...
997   0ghlgldX5Dd6720Q3qFyQB       186       2020
998   2KC9Qb60EaY0kW4eH68vr3       186       2020
999   4yxLYO2imECxGYTTV7RQKb       192          _
1000  5t5FqBwTcgKTaWmfEbwQY9       186       2021
1001  6PvvGcCY2XtUcSRld1Wilr        16       2022

[1002 rows x 3 columns]

In [97]:
for index, row in awards.iterrows():
    aType = row['award_type'].split(' – ', maxsplit=1)
    if len(aType) == 1:
        aType = row['award_type'].split(' - ', maxsplit=1)
    awards.at[index, 'award_type'] = aType[0]
    if len(aType) > 1:
        awards.at[index, 'award_category'] = aType[1]

In [98]:
awards

,award_id,award_name,award_type,award_category
0,0,MOJO Awards,MOJO Awards,NaN
1,1,Grammy Award for Best Rock Performance by a Du...,Grammy Award,Best Rock Performance by a Duo or Group with V...
2,2,MTV Europe Music Award for Best Album,MTV Europe Music Award,Best Album
3,3,Grammy Award for Best Rock Album,Grammy Award,Best Rock Album
4,4,Grammy Award for Best Dance/Electronic Album,Grammy Award,Best Dance/Electronic Album
...,...,...,...,...
188,188,Latin Grammy Award for Best Recording Package,Latin Grammy Award,Best Recording Package
189,189,First prize of the Eurovision Song Contest,First prize of the Eurovision Song Contest,NaN
190,190,MTV Europe Music Award for Best Korean Act,MTV Europe Music Award,Best Korean Act
191,191,P3 Gull for Artist of the Year,P3 Gull,Artist of the Year
192,192,Premios Musa,Premios Musa,NaN

In [99]:
#mtv grammy americana americanmusic juno spellemann soultrain billboard
award_class = []
for index, row in awards.iterrows():
    award_type = row['award_type']
    if 'MTV' in award_type:
        award_class.append('MTV')
    elif 'Grammy' in award_type:
        award_class.append('Grammy')
    elif 'Americana' in award_type:
        award_class.append('Americana')
    elif 'American Music' in award_type:
        award_class.append('American Music')
    elif 'Juno' in award_type:
        award_class.append('Juno')
    elif 'Spellemann' in award_type:
        award_class.append('Spellemann')
    elif 'Soul Train' in award_type:
        award_class.append('Soul Train')
    elif 'Billboard' in award_type:
        award_class.append('Billboard')
    else:
        award_class.append('Generic')
        
awards['award_class'] = award_class
awards

,award_id,award_name,award_type,award_category,award_class
0,0,MOJO Awards,MOJO Awards,NaN,Generic
1,1,Grammy Award for Best Rock Performance by a Du...,Grammy Award,Best Rock Performance by a Duo or Group with V...,Grammy
2,2,MTV Europe Music Award for Best Album,MTV Europe Music Award,Best Album,MTV
3,3,Grammy Award for Best Rock Album,Grammy Award,Best Rock Album,Grammy
4,4,Grammy Award for Best Dance/Electronic Album,Grammy Award,Best Dance/Electronic Album,Grammy
...,...,...,...,...,...
188,188,Latin Grammy Award for Best Recording Package,Latin Grammy Award,Best Recording Package,Grammy
189,189,First prize of the Eurovision Song Contest,First prize of the Eurovision Song Contest,NaN,Generic
190,190,MTV Europe Music Award for Best Korean Act,MTV Europe Music Award,Best Korean Act,MTV
191,191,P3 Gull for Artist of the Year,P3 Gull,Artist of the Year,Generic
192,192,Premios Musa,Premios Musa,NaN,Generic

In [20]:
award_types = awards['award_type'].drop_duplicates().reset_index(drop=True)
award_types

0                                     MOJO Awards
1                                    Grammy Award
2                          MTV Europe Music Award
3                             Johnny Mercer Award
4               Grammy Lifetime Achievement Award
                          ...
100                  Soribada Best K-Music Awards
101                             Seoul Music Award
102    First prize of the Eurovision Song Contest
103                                       P3 Gull
104                                  Premios Musa
Name: award_type, Length: 105, dtype: object

In [30]:
from collections import Counter

In [0]:
aw_list = awards['award_type'].tolist()

In [36]:
freq_award = Counter(aw_list)
atleast2 = [el for el, freq in freq_award.items() if freq >= 2]
atleast2

['Grammy Award',
 'MTV Europe Music Award',
 'Academy Award',
 'Latin Grammy Award',
 'American Music Award',
 'Juno Award',
 'Americana Award',
 'Gramophone Award',
 'Spellemann Award',
 'Soul Train Music Award',
 'Billboard Music Award']

In [48]:
# award, music, europe, latin
tokens = [word for atype in atleast2 for word in atype.split() if word not in ['Award', 'Music', 'Europe', 'Latin']]
tokens

['Grammy',
 'MTV',
 'Academy',
 'Grammy',
 'American',
 'Juno',
 'Americana',
 'Gramophone',
 'Spellemann',
 'Soul',
 'Train',
 'Billboard']

In [51]:
selected2 = awards[awards['award_type'].str.contains(' |'.join(tokens)+' ', case=False)]

In [52]:
pd.DataFrame({
    'total': [int(len(awards))],
    'atleast2': [len(selected2)],
    'maintained2': [len(selected2)/len(awards)],
    'loss2': [1-len(selected2)/len(awards)],
    'statements_total': [len(statements)],
    'statements_atleast2': [len(statements[statements['award_id'].isin(selected2['award_id'].drop_duplicates())])],
    'statements_maintained2': [len(statements[statements['award_id'].isin(selected2['award_id'].drop_duplicates())]) / len(statements)],
    'statements_loss2': [1-len(statements[statements['award_id'].isin(selected2['award_id'].drop_duplicates())]) / len(statements)]
}).iloc[0]

total                      193.000000
atleast2                   113.000000
maintained2                  0.585492
loss2                        0.414508
statements_total          1002.000000
statements_atleast2        729.000000
statements_maintained2       0.727545
statements_loss2             0.272455
Name: 0, dtype: float64

### Prove andrea

In [59]:
stoplist = ['for', 'of', 'award', 'awards', 'music', 'the', 'prize', 'achievement', 'europe', 'year', 'latin', 'lifetime']
word_list = [word.lower() for item in aw_list for word in item.split() if word.lower() not in stoplist]
freqs = Counter(word_list)
freqs

Counter({'grammy': 53,
         'mtv': 17,
         'juno': 12,
         'american': 7,
         'spellemann': 6,
         'academy': 4,
         'billboard': 4,
         'echo': 4,
         'americana': 4,
         'soul': 4,
         'train': 4,
         'golden': 3,
         'best': 3,
         'country': 3,
         'favorite': 3,
         'artist': 3,
         'von': 3,
         'medal': 3,
         'premios': 2,
         'harp': 2,
         'film': 2,
         'association': 2,
         'international': 2,
         'gramophone': 2,
         'new': 2,
         'klassik': 2,
         'spellemannprisen': 2,
         'italian': 2,
         '21': 2,
         'choice': 2,
         'p3': 2,
         'mojo': 1,
         'johnny': 1,
         'mercer': 1,
         'los': 1,
         'latinoamérica': 1,
         'trustees': 1,
         'silver': 1,
         'musicares': 1,
         'person': 1,
         'globe': 1,
         'rockbjörnen': 1,
         'viva': 1,
         'comet': 1,
         'bollywood': 1,
         'movie': 1,
         '–': 1,
         'director': 1,
         'broadcast': 1,
         'critics': 1,
         'bafta': 1,
         'polar': 1,
         'gershwin': 1,
         'ascap': 1,
         'heritage': 1,
         'willie': 1,
         'nelson': 1,
         '"spirit': 1,
         'americana"': 1,
         'free': 1,
         'speech': 1,
         'saturn': 1,
         'dance': 1,
         'jack': 1,
         'richardson': 1,
         'producer': 1,
         'georgia': 1,
         'hall': 1,
         'fame': 1,
         'qq': 1,
         'herbert': 1,
         'karajan': 1,
         'ensemble/orchestra': 1,
         'jury': 1,
         'honorary': 1,
         'in': 1,
         'shortlist': 1,
         'male': 1,
         'record': 1,
         'prêmio': 1,
         'da': 1,
         'música': 1,
         'brasileira': 1,
         'glenn': 1,
         'gould': 1,
         'avery': 1,
         'fisher': 1,
         'léonie': 1,
         'sonning': 1,
         '-': 1,
         'instrumentalist': 1,
         'mobo': 1,
         'hans': 1,
         'bülow': 1,
         'ernst': 1,
         'siemens': 1,
         'royal': 1,
         'philharmonic': 1,
         'society': 1,
         'gold': 1,
         'sibelius': 1,
         'covenant': 1,
         'european': 1,
         'pop': 1,
         'muuvi': 1,
         'goya': 1,
         'satellite': 1,
         'pulitzer': 1,
         'icelandic': 1,
         'paul-lincke-ring': 1,
         'gaffa-prisen': 1,
         'paul': 1,
         'acket': 1,
         'franco': 1,
         'abbiati': 1,
         'robert': 1,
         'schumann': 1,
         'city': 1,
         'zwickau': 1,
         'qwartz': 1,
         'electronic': 1,
         'nordic': 1,
         'council': 1,
         'trailblazer': 1,
         'preis': 1,
         'für': 1,
         'popkultur': 1,
         'disk': 1,
         'los40': 1,
         'youtube': 1,
         'kerrang!': 1,
         'south': 1,
         'african': 1,
         'all': 1,
         'africa': 1,
         '1': 1,
         'live': 1,
         'krone': 1,
         'gospel/inspirational': 1,
         'stellar': 1,
         'adult': 1,
         'contemporary': 1,
         'under': 1,
         'teen': 1,
         'brit': 1,
         'edison': 1,
         'premio': 1,
         'lo': 1,
         'nuestro': 1,
         'iheartradio': 1,
         "kids'": 1,
         'glaad': 1,
         'media': 1,
         'miaw': 1,
         'brazil': 1,
         'soribada': 1,
         'k-music': 1,
         'seoul': 1,
         'first': 1,
         'eurovision': 1,
         'song': 1,
         'contest': 1,
         'gull': 1,
         'musa': 1})

In [60]:
atleast4 = [el for el, freq in freqs.items() if freq >= 4]
atleast5 = [el for el, freq in freqs.items() if freq >= 5]
atleast_2 = [el for el, freq in freqs.items() if freq >= 2]
print(atleast4)
print(atleast5)
print(atleast_2)

print(' |'.join(atleast4))
print(' |'.join(atleast5))
print(' |'.join(atleast_2))

['grammy', 'mtv', 'academy', 'billboard', 'american', 'echo', 'juno', 'americana', 'spellemann', 'soul', 'train']
['grammy', 'mtv', 'american', 'juno', 'spellemann']
['grammy', 'mtv', 'academy', 'premios', 'billboard', 'american', 'harp', 'golden', 'echo', 'best', 'film', 'association', 'juno', 'americana', 'international', 'gramophone', 'country', 'favorite', 'new', 'artist', 'von', 'klassik', 'spellemann', 'spellemannprisen', 'medal', 'soul', 'train', 'italian', '21', 'choice', 'p3']
grammy |mtv |academy |billboard |american |echo |juno |americana |spellemann |soul |train
grammy |mtv |american |juno |spellemann
grammy |mtv |academy |premios |billboard |american |harp |golden |echo |best |film |association |juno |americana |international |gramophone |country |favorite |new |artist |von |klassik |spellemann |spellemannprisen |medal |soul |train |italian |21 |choice |p3

In [61]:
selected4 = awards[awards['award_type'].str.contains(' |'.join(atleast4)+' ', case=False)]
selected5 = awards[awards['award_type'].str.contains(' |'.join(atleast5)+' ', case=False)]
selected2 = awards[awards['award_type'].str.contains(' |'.join(atleast_2)+' ', case=False)]

In [62]:
selected2

,award_id,award_name,award_type,award_category
1,1,Grammy Award for Best Rock Performance by a Du...,Grammy Award,Best Rock Performance by a Duo or Group with V...
2,2,MTV Europe Music Award for Best Album,MTV Europe Music Award,Best Album
3,3,Grammy Award for Best Rock Album,Grammy Award,Best Rock Album
4,4,Grammy Award for Best Dance/Electronic Album,Grammy Award,Best Dance/Electronic Album
5,5,Grammy Award for Album of the Year,Grammy Award,Album of the Year
...,...,...,...,...
187,187,Latin Grammy Award for Best Rap/Hip Hop Song,Latin Grammy Award,Best Rap/Hip Hop Song
188,188,Latin Grammy Award for Best Recording Package,Latin Grammy Award,Best Recording Package
190,190,MTV Europe Music Award for Best Korean Act,MTV Europe Music Award,Best Korean Act
191,191,P3 Gull for Artist of the Year,P3 Gull,Artist of the Year
192,192,Premios Musa,Premios Musa,NaN

In [24]:
selected4

,award_id,award_name,award_type,award_category
1,1,Grammy Award for Best Rock Performance by a Du...,Grammy Award,Best Rock Performance by a Duo or Group with V...
2,2,MTV Europe Music Award for Best Album,MTV Europe Music Award,Best Album
3,3,Grammy Award for Best Rock Album,Grammy Award,Best Rock Album
4,4,Grammy Award for Best Dance/Electronic Album,Grammy Award,Best Dance/Electronic Album
5,5,Grammy Award for Album of the Year,Grammy Award,Album of the Year
...,...,...,...,...
182,182,Spellemann Award for singer of the year,Spellemann Award,singer of the year
183,183,MTV MIAW Awards Brazil,MTV MIAW Awards Brazil,NaN
187,187,Latin Grammy Award for Best Rap/Hip Hop Song,Latin Grammy Award,Best Rap/Hip Hop Song
188,188,Latin Grammy Award for Best Recording Package,Latin Grammy Award,Best Recording Package
190,190,MTV Europe Music Award for Best Korean Act,MTV Europe Music Award,Best Korean Act

Award types
- grammy award
- mtv award
- academy award
- billboard
- american music award
- americana award
- juno
- spellemann
- echo ***> caverei, inconsistenti tra loro***
- willie nelson lifetime achievement ***> caverei, singolo e non con struttura, manco conosciuto direi?***

In [25]:
selected5

,award_id,award_name,award_type,award_category
1,1,Grammy Award for Best Rock Performance by a Du...,Grammy Award,Best Rock Performance by a Duo or Group with V...
2,2,MTV Europe Music Award for Best Album,MTV Europe Music Award,Best Album
3,3,Grammy Award for Best Rock Album,Grammy Award,Best Rock Album
4,4,Grammy Award for Best Dance/Electronic Album,Grammy Award,Best Dance/Electronic Album
5,5,Grammy Award for Album of the Year,Grammy Award,Album of the Year
...,...,...,...,...
182,182,Spellemann Award for singer of the year,Spellemann Award,singer of the year
183,183,MTV MIAW Awards Brazil,MTV MIAW Awards Brazil,NaN
187,187,Latin Grammy Award for Best Rap/Hip Hop Song,Latin Grammy Award,Best Rap/Hip Hop Song
188,188,Latin Grammy Award for Best Recording Package,Latin Grammy Award,Best Recording Package
190,190,MTV Europe Music Award for Best Korean Act,MTV Europe Music Award,Best Korean Act

Award types
- grammy award
- mtv award
- american music award
- juno
- spellemann

In [26]:
selected4[selected4['award_category'].isna()]

,award_id,award_name,award_type,award_category
13,13,Grammy Lifetime Achievement Award,Grammy Lifetime Achievement Award,NaN
21,21,Los Premios MTV Latinoamérica,Los Premios MTV Latinoamérica,NaN
23,23,Billboard Latin Music Awards,Billboard Latin Music Awards,NaN
25,25,Grammy Trustees Award,Grammy Trustees Award,NaN
29,29,Grammy Awards,Grammy Awards,NaN
42,42,Echo Music Prize,Echo Music Prize,NaN
60,60,Willie Nelson Lifetime Achievement Award,Willie Nelson Lifetime Achievement Award,NaN
67,67,Latin Grammy Lifetime Achievement Award,Latin Grammy Lifetime Achievement Award,NaN
71,71,Juno International Achievement Award,Juno International Achievement Award,NaN
85,85,Echo Klassik ensemble/orchestra of the year,Echo Klassik ensemble/orchestra of the year,NaN
90,90,Spellemann Award of the year,Spellemann Award of the year,NaN
102,102,Echo Klassik Award - Instrumentalist of the Year,Echo Klassik Award - Instrumentalist of the Year,NaN
114,114,ECHO Pop,ECHO Pop,NaN
136,136,Americana Trailblazer Award,Americana Trailblazer Award,NaN
157,157,Soul Train Music Best Gospel/Inspirational Award,Soul Train Music Best Gospel/Inspirational Award,NaN
161,161,Billboard 21 Under 21,Billboard 21 Under 21,NaN
183,183,MTV MIAW Awards Brazil,MTV MIAW Awards Brazil,NaN

In [27]:
selected5[selected5['award_category'].isna()]

,award_id,award_name,award_type,award_category
13,13,Grammy Lifetime Achievement Award,Grammy Lifetime Achievement Award,NaN
21,21,Los Premios MTV Latinoamérica,Los Premios MTV Latinoamérica,NaN
25,25,Grammy Trustees Award,Grammy Trustees Award,NaN
29,29,Grammy Awards,Grammy Awards,NaN
67,67,Latin Grammy Lifetime Achievement Award,Latin Grammy Lifetime Achievement Award,NaN
71,71,Juno International Achievement Award,Juno International Achievement Award,NaN
90,90,Spellemann Award of the year,Spellemann Award of the year,NaN
183,183,MTV MIAW Awards Brazil,MTV MIAW Awards Brazil,NaN

In [63]:
pd.DataFrame({
    'total': [int(len(awards))],
    'atleast2': [len(selected2)],
    'maintained2': [len(selected2)/len(awards)],
    'loss2': [1-len(selected2)/len(awards)],
    'stat_atleast2': [len(statements[statements['award_id'].isin(selected2['award_id'].drop_duplicates())])],
    'stat_maintained2': [len(statements[statements['award_id'].isin(selected2['award_id'].drop_duplicates())]) / len(statements)],
    'stat_loss2': [1-len(statements[statements['award_id'].isin(selected2['award_id'].drop_duplicates())]) / len(statements)]
}).iloc[0]

total               193.000000
atleast2            139.000000
maintained2           0.720207
loss2                 0.279793
stat_atleast2       820.000000
stat_maintained2      0.818363
stat_loss2            0.181637
Name: 0, dtype: float64

In [28]:
pd.DataFrame({
    'total': [int(len(awards))],
    'atleast4': [len(selected4)],
    'maintained4': [len(selected4)/len(awards)],
    'loss4': [1-len(selected4)/len(awards)],
    'atleast5': [len(selected5)],
    'maintained5': [len(selected5)/len(awards)],
    'loss5': [1-len(selected5)/len(awards)],
}).iloc[0]

total          193.000000
atleast4       116.000000
maintained4      0.601036
loss4            0.398964
atleast5        95.000000
maintained5      0.492228
loss5            0.507772
Name: 0, dtype: float64

In [29]:
pd.DataFrame({
    'total': [len(statements)],
    'atleast4': [len(statements[statements['award_id'].isin(selected4['award_id'].drop_duplicates())])],
    'maintained4': [len(statements[statements['award_id'].isin(selected4['award_id'].drop_duplicates())]) / len(statements)],
    'loss4': [1-len(statements[statements['award_id'].isin(selected4['award_id'].drop_duplicates())]) / len(statements)],
    'atleast5': [len(statements[statements['award_id'].isin(selected5['award_id'].drop_duplicates())])],
    'maintained5': [len(statements[statements['award_id'].isin(selected5['award_id'].drop_duplicates())]) / len(statements)],
    'loss5': [1-len(statements[statements['award_id'].isin(selected5['award_id'].drop_duplicates())]) / len(statements)]
}).iloc[0]

total          1002.000000
atleast4        741.000000
maintained4       0.739521
loss4             0.260479
atleast5        659.000000
maintained5       0.657685
loss5             0.342315
Name: 0, dtype: float64

### Fine prove